{deps, [
{mongodb,".*",{git,"https://github.com/emqtt/mongodb-erlang","v3.0.7"}},{ecpool,".*",{git,"https://github.com/emqtt/ecpool","master"}},{clique,".*",{git,"https://github.com/emqx/clique",""}},{emqx_passwd,".*",{git,"https://github.com/emqx/emqx-passwd","emqx30"}}
]}.
{erl_opts, [debug_info]}.
