[
  {emqttd_mongodb, [

    {mongodb_pool, [
      {pool_size, 4},
      {pool_type, random},
      {auto_reconnect, 3},

      %% Mongodb driver opts
      %% {login, ""},
      %% {password,""},
      {host, "localhost"},
      {port, 27019},
      {database, "db0"}
    ]},

    {user_collection, "mqtt_user"},

    %% hash algorithm: plain, md5, sha, sha256, pbkdf2?
    {password_hash, sha256}

  ]}
].

